<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/navbar.js')}}"></script>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div id="navbar">
            {% block navbar %}{% endblock %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
